body{
    margin: 0;
}
.reg-main{
    height: 100vh;
    display: flex;
    color: #838383;
}
.reg-forms{
    height: 100%;
    width: 65%;
    background-color: #FFF;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.header{
    height: 100%;
    width: 35%;
    background-color: #3d6efa;
    color: #ffffff;
    font-family: "sans-serif";
    display: flex;
    align-items: center;
    text-align: right;
    justify-content: center;
    flex-direction: column;
}
.header p {
    width: 50%;
    text-align: left;
}
.from-wrap{
    width: 50%;
    font-family: "sans-serif";
}
.frm-footer{
    margin-top: 20px;
    line-height: 1.7;
}
.frm-footer span{
    color: #3d6efa;
}

.header h2{
    font-weight: 700;
}

.reg-forms h2{
    color: #000000;
    font-family: "sans-serif";
    font-size: 30px;
    text-align: left !important;
    margin-bottom: 50px;
}
.reg-forms p{
    color: #000;
    font-size: 12px;
    /*margin-bottom: 35px;*/
}

.reg-forms a{
    color: #3d6efa;
    text-decoration: none;
    font-weight: 600;
    font-size: 14px;
}


.min-char{
    font-size: 12px;
}
.signupbutton {
    width: 100%;
    background-color: #ededed;
    color: #a9a9a9;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    opacity: 0.9;
    font-weight: 700;
    font-size: 15px;
    cursor: not-allowed;
}
.reg-enabled {
    background-color: #3d6efa;
    cursor: pointer;
    color: #ffffff;
}
.error{
    color:red;
    font-size:12px;
    font-family: inherit;
}
.validation-err{
    border:1px solid red !important;
    box-sizing: border-box;
    margin: 0;
    border: solid 1px; /* Safari */
    border-top-color: 1px solid red !important;
    border-radius: 4px;
    padding: 15px 13px 15px;
    width: 100%;
    height: inherit;
    color: #767676;
    background-color: transparent;
    box-shadow: none; /* Firefox */
    font-family: inherit;
    font-size: inherit;
    line-height: inherit;
    caret-color: rgb(var(--pure-material-primary-rgb, 33, 150, 243));
    transition: border 0.2s, box-shadow 0.2s;
}
/*.onfcs{*/
/*    border:0px solid red;*/
/*    color:black;*/
/*}*/


/*password*/
.password-icon{
    position: absolute;
    right: 10px;
    top: 22px;
    cursor: pointer;
}


.pure-material-textfield-outlined {
    width: 100%;
    --pure-material-safari-helper1: rgb(var(--pure-material-primary-rgb, 33, 150, 243));
    position: relative;
    display: inline-block;
    padding-top: 6px;
    font-family: var(--pure-material-font, "Roboto", "Segoe UI", BlinkMacSystemFont, system-ui, -apple-system);
    font-size: 16px;
    line-height: 1.5;
    overflow: hidden;
    margin-top: 15px;
}


.input-color{
        box-sizing: border-box;
        margin: 0;
        border: solid 1px; /* Safari */
        border-color: #ededed !important;
        border-top-color: #ededed !important;
        border-radius: 4px;
        padding: 15px 13px 15px;
        width: 100%;
        height: inherit;
        color: #767676;
        background-color: transparent;
        box-shadow: none; /* Firefox */
        font-family: inherit;
        font-size: inherit;
        line-height: inherit;
        caret-color: rgb(var(--pure-material-primary-rgb, 33, 150, 243));
        transition: border 0.2s, box-shadow 0.2s;
}

    .input-color-select{
        box-sizing: border-box;
        margin: 0;
        border: solid 1px;
        border-color: #ededed !important;
        border-top-color: #ededed !important;
        border-radius: 4px;
        padding: 15px 13px 15px;
        width: 100%;
        height: inherit;
        color: #767676;
        background-color: transparent;
        box-shadow: none;
        font-family: inherit;
        font-size: inherit;
        line-height: inherit;
        caret-color: rgb(var(--pure-material-primary-rgb, 33, 150, 243));
        transition: border 0.2s, box-shadow 0.2s;
    }

#type:focus{
    box-shadow: #e2e2e2 !important;
    outline: none;
}
/* Span */
.pure-material-textfield-outlined > input + span,
.pure-material-textfield-outlined > textarea + span {
    position: absolute;
    top: 0;
    left: 10px;
    display: flex;
    border-color: rgba(var(--pure-material-onsurface-rgb, 0, 0, 0), 0.6);
    max-height: 100%;
    color: rgba(var(--pure-material-onsurface-rgb, 0, 0, 0), 0.6);
    font-size: 75%;
    line-height: 15px;
    background-color: white;
    cursor: text;
    transition: color 0.2s, font-size 0.2s, line-height 0.2s;
}

/* Corners */
.pure-material-textfield-outlined > input + span::before,
.pure-material-textfield-outlined > input + span::after,
.pure-material-textfield-outlined > textarea + span::before,
.pure-material-textfield-outlined > textarea + span::after {
    content: "";
    display: block;
    box-sizing: border-box;
    margin-top: 6px;
    height: 8px;
    pointer-events: none;
    box-shadow: inset 0 1px transparent;
    transition: border-color 0.2s, box-shadow 0.2s;
}

.pure-material-textfield-outlined > input + span::before,
.pure-material-textfield-outlined > textarea + span::before {
    margin-right: 4px;
    border-left: solid 1px transparent;
    border-radius: 4px 0;
}

.pure-material-textfield-outlined > input + span::after,
.pure-material-textfield-outlined > textarea + span::after {
    flex-grow: 1;
    margin-left: 4px;
    border-right: solid 1px transparent;
    border-radius: 0 4px;
}
pure-material-textfield-outlined
/* Hover */
.pure-material-textfield-outlined:hover > input,
.pure-material-textfield-outlined:hover > textarea {
    border-color: rgba(var(--pure-material-onsurface-rgb, 0, 0, 0), 0.87);
    border-top-color: transparent;
}

.pure-material-textfield-outlined:hover > input + span::before,
.pure-material-textfield-outlined:hover > textarea + span::before,
.pure-material-textfield-outlined:hover > input + span::after,
.pure-material-textfield-outlined:hover > textarea + span::after {
    border-top-color: #ededed;
}

.pure-material-textfield-outlined:hover > input:not(:focus):placeholder-shown,
.pure-material-textfield-outlined:hover > textarea:not(:focus):placeholder-shown {
    border-color: rgba(var(--pure-material-onsurface-rgb, 0, 0, 0), 0.87);
}

/* Placeholder-shown */
.pure-material-textfield-outlined > input:not(:focus):placeholder-shown,
.pure-material-textfield-outlined > textarea:not(:focus):placeholder-shown {
    border-top-color: #ededed;
}

.pure-material-textfield-outlined > input:not(:focus):placeholder-shown + span,
.pure-material-textfield-outlined > textarea:not(:focus):placeholder-shown + span {
    font-size: inherit;
    line-height: 68px;
    background-color: transparent;
}

.pure-material-textfield-outlined > input:not(:focus):placeholder-shown + span::before,
.pure-material-textfield-outlined > textarea:not(:focus):placeholder-shown + span::before,
.pure-material-textfield-outlined > input:not(:focus):placeholder-shown + span::after,
.pure-material-textfield-outlined > textarea:not(:focus):placeholder-shown + span::after {
    border-top-color: transparent;
}

/* Focus */
.pure-material-textfield-outlined > input:focus,
.pure-material-textfield-outlined > textarea:focus {
    border-color: rgb(var(--pure-material-primary-rgb, 33, 150, 243));
    border-top-color: transparent;
    box-shadow: #ededed;
    outline: none;
}

.pure-material-textfield-outlined > input:focus + span,
.pure-material-textfield-outlined > textarea:focus + span {
    color: #777777;
}

.pure-material-textfield-outlined > input:focus + span::before,
.pure-material-textfield-outlined > input:focus + span::after,
.pure-material-textfield-outlined > textarea:focus + span::before,
.pure-material-textfield-outlined > textarea:focus + span::after {
    border-top-color: #ededed !important;
    box-shadow:#ededed ;
}

/* Disabled */
.pure-material-textfield-outlined > input:disabled,
.pure-material-textfield-outlined > input:disabled + span,
.pure-material-textfield-outlined > textarea:disabled,
.pure-material-textfield-outlined > textarea:disabled + span {
    border-color: rgba(var(--pure-material-onsurface-rgb, 0, 0, 0), 0.38) !important;
    border-top-color: transparent !important;
    color: rgba(var(--pure-material-onsurface-rgb, 0, 0, 0), 0.38);
    pointer-events: none;
}

.pure-material-textfield-outlined > input:disabled + span::before,
.pure-material-textfield-outlined > input:disabled + span::after,
.pure-material-textfield-outlined > textarea:disabled + span::before,
.pure-material-textfield-outlined > textarea:disabled + span::after {
    border-top-color: rgba(var(--pure-material-onsurface-rgb, 0, 0, 0), 0.38) !important;
}

.pure-material-textfield-outlined > input:disabled:placeholder-shown,
.pure-material-textfield-outlined > input:disabled:placeholder-shown + span,
.pure-material-textfield-outlined > textarea:disabled:placeholder-shown,
.pure-material-textfield-outlined > textarea:disabled:placeholder-shown + span {
    border-top-color: rgba(var(--pure-material-onsurface-rgb, 0, 0, 0), 0.38) !important;
}

.pure-material-textfield-outlined > input:disabled:placeholder-shown + span::before,
.pure-material-textfield-outlined > input:disabled:placeholder-shown + span::after,
.pure-material-textfield-outlined > textarea:disabled:placeholder-shown + span::before,
.pure-material-textfield-outlined > textarea:disabled:placeholder-shown + span::after {
    border-top-color: transparent !important;
}

@media screen and (max-width: 768px) {
    .reg-main{
        flex-direction: column-reverse;
        height: inherit;
    }
    .reg-forms{
        width: 100%;
    }
    .header{
        width: 100%;
    }
    .from-wrap{
        width: initial;
        padding: 15px;
    }
    .header p{
        width: initial;
        padding: 0 15px;
    }
}
/* Faster transition in Safari for less noticable fractional font-size issue */
@media not all and (min-resolution:.001dpcm) {
    @supports (-webkit-appearance:none) {
        .pure-material-textfield-outlined > input,
        .pure-material-textfield-outlined > input + span,
        .pure-material-textfield-outlined > textarea,
        .pure-material-textfield-outlined > textarea + span,
        .pure-material-textfield-outlined > input + span::before,
        .pure-material-textfield-outlined > input + span::after,
        .pure-material-textfield-outlined > textarea + span::before,
        .pure-material-textfield-outlined > textarea + span::after {
            transition-duration: 0.1s;
        }
    }
}
